---
layout: default
title: Authors
---

<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-content has-text-centered">
          <h1 class="title">{{ page.title }}</h1>
        </div>

        <div class="card-content">
          <div class="content">
            <ul>
              {% for author in site.authors %}
              {% assign author_posts = site.posts | where: 'author', author.slug %}
              {% assign num_posts = author_posts | size %}
              {% if num_posts == 1 %}
                {% assign post_noun = "post" %}
              {% else %}
              {% assign post_noun = 'posts' %}
              {% endif %}
              <li><a href="{{ author.url | relative_url }}">{{ author.name }}</a> ({{ num_posts }} {{ post_noun }})</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
