---
layout: default
---

<section class="section">
  <div class="container">
  {% for post in paginator.posts %}
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title"><a href="{{post.url}}">{{post.title}}</a></p>
          <p class="subtitle is-6 article-subtitle">
            <a href="#">{{post.author}}</a> on {{ post.date | date: '%B %d, %Y' }}
          </p>
        </div>

        <div class="card-content">
          <div class="content">
            {{post.content}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

    <!-- Pagination links -->
    <div class="column is-8 is-offset-2">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>

  </div>
<section>
