---
layout: default
---

<section class="section">
  <div class="container">
    {% for post in paginator.posts %}
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-content has-text-centered">
          <h1 class="title"><a href="{{post.url | relative_url }}">{{post.title}}</a></h1>
          <p class="subtitle is-6 article-subtitle">
            {% assign author = site.authors | where: 'slug', post.author | first -%}
            <a href="{{ '/authors/' | append: author.slug | relative_url }}">{{author.name}}</a> on {{ post.date | date: '%B %d, %Y' }}
          </p>
        </div>

        {% include tags.html -%}

        <div class="card-content">
          <div class="content">
            {% if post.image -%}
            <img src="{{ post.image.src }}" alt="{{ post.image.alt }}">
            <br>
            {% endif -%}
            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
