<footer class="footer">
  <div class="content">
    <div class="buttons is-centered">
      <a href="https://twitter.com/snack_overflow" class="button is-large">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      <a href="https://www.linkedin.com/company/graze-com" class="button is-large">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
      <a href="https://github.com/graze/" class="button is-large">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
    </div>
  </div>
</footer>
