{% if paginator.total_pages > 1 -%}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">

        {% if paginator.previous_page -%}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-previous">
            Previous
          </a>
        {% endif %}

        <ul class="pagination-list">
          {% for page in (1..paginator.total_pages) -%}
            {% if page == paginator.page -%}
              <li>
                <span class="pagination-link is-current">
                  {{ page }}
                </span>
              </li>
            {%- elsif page == 1 -%}
              <li>
                <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link">
                  {{ page }}
                </a>
              </li>
            {%- else -%}
              <li>
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="pagination-link">
                  {{ page }}
                </a>
              </li>
            {% endif -%}
          {% endfor -%}
        </ul>

        {% if paginator.next_page -%}
          <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-next">
            Next
          </a>
        {% endif -%}

        </div>
      </div>
    </div>
  </nav>
</section>
{% endif %}
