---
layout: default
---

<section class="section">
    <div class="container">
      <div class="column is-8 is-offset-2">
        <div class="card">
          <div class="card-content has-text-centered">
            <p class="title"><a href="{{page.url | relative_url}}">{{page.title}}</a></p>
            <p class="subtitle is-6 article-subtitle">
              {% assign author = site.authors | where: 'slug', page.author | first %}
              <a href="{{ '/authors/' | append: author.slug | relative_url }}">{{author.name}}</a> on {{ page.date | date: '%B %d, %Y' }}
            </p>
          </div>

          <div class="card-content">
            <div class="content">
              {{page.content}}
            </div>
          </div>

          <div class="card-footer">
            {% if page.previous.url %}
              <a class="card-footer-item" href="{{page.previous.url | relative_url}}">&laquo; {{page.previous.title}}</a>
              {% else %}
              <p class="card-footer-item"></p>
              {% endif %}
            {% if page.next.url %}
              <a class="card-footer-item" href="{{page.next.url | relative_url}}">{{page.next.title}} &raquo;</a>
              {% else %}
              <p class="card-footer-item"></p>
              {% endif %}
          </div>

        </div>
      </div>
    </div>
</section>
